/*NAV CSS*/


a {
    text-decoration: none;
    color: white;
    float: right;
}

.logo {

    height: 30px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

}

ul {

    list-style: none;
    float: right;
    display: flex;


}

li {

    float: right;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    list-style: none;
    margin-bottom: -5%;
    margin-left: -3%;

}

li :hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}


.text {

    margin-bottom: 5%;
}

.navbar {
    background-color: rgba(22, 71, 24, 0.6);
    width: auto;
    height: 160px;

}

p {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
}

/* CSS for Footer */
.footer {
    background-color: #228b22;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.footer .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
}

.footer .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .newsletter input[type="email"] {
    width: 300px;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem;
}

.footer .newsletter button {
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.5rem 1rem;
}

.footer .links a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .spacing {
    margin-top: 1rem;
}