#cards {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(110, 222, 61, 0.5)),
        url(/images/forest_tree_random.jpg);

}

body {
    background-color: #295dab;
}

.paragraphs {
    background-color: rgba(34, 205, 34, 0.649);
    color: whitesmoke;
    padding: 3% 0 3% 3%;
}

p {
    font-size: 18px;
}

.carousel-item {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(110, 222, 61, 0.5)),
        url(/images/tress.jpg);

    height: 620px;
}


.login-form {
    background-color: #295dab;
    color: white;
    padding: 10px 10px 10px 10px;
}

.mb-3 {
    width: 500px;
    padding-left: 80px;
    padding-top: 25px;
}

.card-body {
    color: black;
}

.col {
    padding: 20px 50px 20px 50px;
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }