#cards {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(110, 222, 61, 0.5)),
        url(/images/forest_tree_random.jpg);

}

body {
    background-color: #295dab;
}

.paragraphs {
    background-color: rgba(34, 205, 34, 0.649);
    color: whitesmoke;
    padding: 3% 0 3% 3%;
}

p {
    font-size: 18px;
}

.carousel-item {
    height: 500px;

}

.login-form {
    color: black;
    padding: 10px 10px 10px 10px;
}

.register_form {
    color: black;
}


.card-body {
    color: black;
}

.col {
    padding: 20px 50px 20px 50px;
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

.table {
    border: 3px solid black;
    width: 63rem;
    margin-left: 160px;
    margin-top: 50px;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
}

.invalid-feedback {
    color: yellow;
}